APP_NAME=SAKUMI
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_SAKUMI_MODE=real
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_REAL_DATABASE=sakumi
DB_REAL_USERNAME=sakumi
DB_REAL_PASSWORD=sakumi
DB_DATABASE=sakumi
DB_USERNAME=sakumi
DB_PASSWORD=sakumi

CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=database
